# Build folders and files
build/
*.exe
*.o
*.obj
*.out
*.dll
*.so
*.dylib

# VS Code specific
.vscode/
*.code-workspace
.history/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Prerequisites
*.d

# Object files
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so.*

# Windows specific
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
._*

# Batch file output logs
*.log
